@import "mixins";
@import "variables";
@import "loading";
@import "detailView";
@import "mainMenu";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Scribble&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  @include largeScreens {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: lightten($background, 10);
  }
}

#app {
  background-color: linear-gradient(0deg, $elevation-2 0%, $background 50%);
  color: $text-color;
  padding: 1rem;
  min-height: 100vh;
  font-family: "Inter", sans-serif;

  @include largeScreens {
    width: 400px;
    height: $max-height-desktop;
    min-height: unset;
    overflow: auto;
    border-radius: $border-radius;
    box-shadow: box-shadow;
  }

  &.show-background {
    background: var(--detail-condition-image);
    background-size: cover;
    background-position: center;
  }
}
